<form class="add-school-form">
  <article class="message is-danger is-small" *ngIf="errors.length > 0">
    <div class="message-header">
      <p class="mt-2">Ouch! Please fix following errors: </p>
      <button class="delete" aria-label="delete" (click)="clearErrors()"></button>
    </div>
    <div class="message-body">
      <ul class="mb-0 mt-0">
        <li *ngFor="let error of errors" class="content mb-0 mt-0">{{error}}</li>
      </ul>
    </div>
  </article>
  <div class="columns">
    <div class="column">
      <p class="pb-2">If you want to update your family's info, please enter the code from email you received when you
        initially added your family.</p>
      <div class="field has-addons">
        <div class="control full-row">
          <input class="input" name="id" id="id" required [(ngModel)]="homeschool.id" placeholder="Family Code">
        </div>
        <button class="button is-success" (click)="getHomeSchool()">Search</button>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column is-6">
      <h5 class="subtitle is-size-5 mt-2 form-header">About Your Family:</h5>

      <div class="field">
        <div class="control">
          <input class="input" name="familyName" id="familyName" required [(ngModel)]="homeschool.familyName"
            placeholder="Family name">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input class="input" name="firstName" [(ngModel)]="homeschool.firstName" placeholder="First name (optional)">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input class="input" name="email" type="email" required [(ngModel)]="homeschool.email" placeholder="Email">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input class="input" name="phoneNumber" type="tel" [(ngModel)]="homeschool.phoneNumber"
            placeholder="Phone number (optional)">
        </div>
      </div>
      <h5 class="subtitle is-size-5 mt-4 mb-2 form-header">Location:</h5>
      <span class="is-size-6">If for some reason you don’t want to list your exact city, type a larger city near to you
        (eg, St. Paul instead of Maplewood).</span>
      <div class="columns mt-1">
        <div class="column">
          <div class="field">
            <div class="control">
              <app-auto-complete-search (setAddress)="getCity($event)"
                [componentCity]="homeschool.cityName"></app-auto-complete-search>
            </div>
          </div>
        </div>
      </div>
      <app-child [homeschool]="homeschool"></app-child>
    </div>
    <div class="column is-6">
      <div class="mb-4">
        <h5 class="subtitle is-size-5 mt-2 form-header">I'm interested in:</h5>
        <label class="checkbox">
          <input type="checkbox" name="interestedInCMCoop" [(ngModel)]="homeschool.interestCoop">
          CM Co-ops
        </label>
        <label class="checkbox ml-3">
          <input type="checkbox" name="interestedInBookStudy" [(ngModel)]="homeschool.interestCMBookStudy">
          Book Studies
        </label>
        <label class="checkbox ml-3">
          <input type="checkbox" name="interestedInNatureWalks" [(ngModel)]="homeschool.interestNatureWalks">
          Nature walks
        </label>
        <label class="checkbox ml-3">
          <input type="checkbox" name="interestedInFriends" [(ngModel)]="homeschool.interestFriends">
          CM Friends
        </label>
      </div>

      <h5 class="subtitle is-size-5 mb-0 form-header">I currently host / lead: <span class="is-italic">(Type the name of
          your group)</span></h5>
      <p class="mt-5"></p>
      <div class="field">
        <div class="control">
          <input class="input" name="leadingCMBookStudy" [(ngModel)]="homeschool.leadingCMBookStudy"
            placeholder="CM Book study" />
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input class="input" name="leadingNatureWalks" [(ngModel)]="homeschool.leadingNatureWalks"
            placeholder="Nature walks" />
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input class="input" name="leadingCoop" [(ngModel)]="homeschool.leadingCoop" placeholder="Co-op" />
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input class="input" name="leadingMentoring" [(ngModel)]="homeschool.leadingMentoring"
            placeholder="CM or homeschool-specific business" />
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input class="input" name="leadingOther" [(ngModel)]="homeschool.leadingOther" placeholder="Other" />
        </div>
      </div>

      <h5 class="subtitle is-size-5 mb-0 form-header">About my group: </h5>
      <p class="mb-2"></p>
      <div class="field">
        <div class="control">
          <textarea class="input" name="aboutGroup" [(ngModel)]="homeschool.aboutGroup"
            placeholder="Time, location, etc." rows="15"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="field is-grouped">
    <p class="control">
      <button type="submit" class="button is-success card-footer-item" (click)="saveSchool()">Save</button>
    </p>
    <p class="control">
      <button class="button is-light card-footer-item" (click)="cleanForm()">Clear</button>
    </p>
    <p class="control">
      <a routerLink="/" routerLinkActive="active" class="button is-white card-footer-item">Go To Search Page</a>
    </p>
  </div>
</form>