<div class="card">
  <header class="card-header">
    <div class="card-header-title">
      Add Your HomeSchool
    </div>
  </header>

  <div class="card-content">
    <div class="content">

      <div class="field">
        <div class="control">
          <input class="input is-small" id="familyName" [(ngModel)]="homeschool.familyName" placeholder="family name">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input class="input is-small" id="firstName" [(ngModel)]="homeschool.firstName"
            placeholder="first name (optional)">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input class="input is-small" id="email" [(ngModel)]="homeschool.email" placeholder="email">
        </div>
      </div>
      <span class="is-size-7">(if you don’t want to provide city for some reason, type Minneapolis)</span>
      <div class="columns">
        <div class="column">
          <div class="field">
            <div class="control">
              <input class="input is-small" id="cityName" [(ngModel)]="homeschool.cityName" placeholder="city name">
            </div>
          </div>
        </div>
        <div class="column">
          <div class="select is-small">
            <select [(ngModel)]="homeschool.state">
              <option value="MN">MN</option>
            </select>
          </div>
        </div>
      </div>
      <app-add-child></app-add-child>
    </div>
  </div>
  <footer class="card-footer">
    <button class="button is-success card-footer-item is-small">Add</button>
    <button class="button is-light card-footer-item is-small">Close</button>
  </footer>
</div>
