<div class="">
  <nav class="navbar pt-2 pb-2" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <h1 class="subtitle is-4 header ml-3 has-text-grey-dark mt-4 pl-5">MN Charlotta Mason Home Schools Map</h1>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu ml-5 pl-5">
        <div class="navbar-start">
          <a class="navbar-item" routerLink="/" routerLinkActive="active">Home</a>
        </div>
      </div>
      <div class="navbar-end is-align-items-center pr-5">
        <a routerLink="/homeschool" routerLinkActive="active" class="navbar-item button is-success">Add HomeSchool</a>
      </div>
    </div>
  </nav>
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
  <footer class="section">
  </footer>
</div>
