<div class="columns">
    <div class="column is-three-quarters ml-3">
        <div class="field">
            <div class="control is-expanded">
                <app-auto-complete-search (setAddress)="getCity($event)"></app-auto-complete-search>
            </div>
            <p class="control">
            </p>
        </div>
        <div>
            <span class="is-small mt-1 mb-1 mr-2">View on map:</span>
            <label class="checkbox">
                <input type="checkbox" name="interestedInCMCoop" [(ngModel)]="filterOptions.interestCoop">
                CM Co-ops
            </label>
            <label class="checkbox ml-3 ">
                <input type="checkbox" name="interestedInBookStudy" [(ngModel)]="filterOptions.interestCMBookStudy">
                Book Studies
            </label>
            <label class="checkbox ml-3">
                <input type="checkbox" name="interestedInNatureWalks" [(ngModel)]="filterOptions.interestNatureWalks">
                Nature walks
            </label>
            <label class="checkbox ml-3">
                <input type="checkbox" name="interestedInFriends" [(ngModel)]="filterOptions.interestFriends">
                CM Friends
            </label>
        </div>
    </div>
    <div class="column">
        <a class="button is-info" (click)="getHomeSchools(filterOptions.cityName)">Search</a>
        <a class="button is-white" (click)="resetForm()">
            Reset
        </a>
    </div>
</div>