<div class="columns pl-2 pr-2">
    <div class="column is-three-quarters">
        <div class="field">
            <div class="control is-expanded">
                <app-auto-complete-search (setAddress)="getCity($event)"
                    componentCity={{filterOptions.cityName}}></app-auto-complete-search>
            </div>
            <p class="control">
            </p>
        </div>
        <div>
            <span class="is-small mt-1 mb-1 mr-2">View on map:</span>
            <label class="checkbox">
                <input type="checkbox" name="interestedInCMCoop" [(ngModel)]="filterOptions.interestCoop">
                CM Co-ops
            </label>
            <label class="checkbox ml-3 ">
                <input type="checkbox" name="interestedInBookStudy" [(ngModel)]="filterOptions.interestCMBookStudy">
                Book Studies
            </label>
            <label class="checkbox ml-3">
                <input type="checkbox" name="interestedInNatureWalks" [(ngModel)]="filterOptions.interestNatureWalks">
                Nature walks
            </label>
            <label class="checkbox ml-3">
                <input type="checkbox" name="interestedInFriends" [(ngModel)]="filterOptions.interestFriends">
                CM Friends
            </label>
        </div>
    </div>
    <div class="column">
        <div class="field has-addons">
            <p class="control">
                <a class="button is-primary" (click)="getHomeSchools(filterOptions.cityName)">Search</a>
            </p>
            <p class="control">
                <a class="button is-outlined" (click)="resetForm()">
                    Reset
                </a>
            </p>
        </div>

    </div>
</div>