<div class="column search" *ngIf="isListView">
  <div class="results-area">
    <article *ngFor="let homeSchool of homeSchools" class="message mb-1">
      <div class="message-body">
        <p class="subtitle mb-2 has-text-grey-darker is-6 has-text-weight-bold">{{homeSchool.familyName}} home school
        </p>
        <p class="content mb-1 is-small">Located in {{homeSchool.cityName}}</p>
        <p class="content is-small mb-1" *ngIf="homeSchool.children.length > 0">
          Children:
          <span>{{homeSchool.childrenString}}</span>
        </p>
        <p class="content is-small mb-1" *ngIf="homeSchool.leadingGroups.length > 0">
          Leading/Hosting: {{homeSchool.leadingGroupsText}} </p>
        <p class="content is-small mb-1" *ngIf="homeSchool.leadingGroups.length > 0">
          About group: {{homeSchool.aboutGroup}} </p>
        <p class="content is-small mb-1" *ngIf="homeSchool.aboutGroupUrl !== ''">
          Website: <a href="{{homeSchool.aboutGroupUrl}}" target="_blank">Link</a>
        </p>
        <p class="content is-small mb-1" *ngIf="homeSchool.interests !== ''">Interested In: {{homeSchool.interests}}</p>
        <button class="btn is-small mt-1" (click)="sendEmail(homeSchool.id)">Send a message</button>
      </div>
    </article>
    <div *ngIf="homeSchools.length == 0" class="is-size-6 pr-2">There are no groups that match your request.</div>
  </div>
  <app-message [homeSchoolId]="homeSchoolId" [showModal]="showModal"
    (getModalStatusEvent)="changeStatus()"></app-message>
</div>