<div class="columns">
  <div class="column is-two-thirds map">
    <google-map width="100%" height="900px" [zoom]="zoom" [center]="center" [options]="options">
      <map-marker *ngFor="let marker of markers" [position]="marker.position" [label]="marker.label"
        [icon]="marker.icon" [options]="marker.options" (mapClick)="getHomeSchools(marker.cityName)">
      </map-marker>
    </google-map>
  </div>
  <div class="column">
    <div class="field has-addons">
      <div class="control is-expanded">
        <input class="input" type="text" placeholder="City" [(ngModel)]="cityName" />
      </div>
      <div class="control">
        <a class="button is-info" (click)="getHomeSchools(cityName)">
          Search
        </a>
      </div>
      <p class="control">
        <a class="button is-white" (click)="getHomeSchools('')">
          Cancel
        </a>
      </p>
    </div>
    <div class="results-area">
      <article *ngFor="let homeSchool of homeSchools" class="message">
        <div class="message-body">
          <p class="subtitle mb-2 has-text-grey-darker is-6 has-text-weight-bold">{{homeSchool.familyName}} home school
          </p>
          <p class="content mb-0 is-small">Located in {{homeSchool.cityName}}, {{homeSchool.state}}</p>
          <p class="content mb-0 is-small" *ngIf="homeSchool.children.length > 0">
            Children:
            <span>{{homeSchool.childrenString}}</span>
          </p>
          <p class="content is-small mb-1" *ngIf="homeSchool.interests.length > 0">Interested in / leading:
            {{homeSchool.interestedTopics}} </p>
            <button class="btn is-small" (click)="sendEmail(homeSchool.id)">Send a message</button>
        </div>
      </article>
    </div>
  </div>
</div>
<app-message [homeSchoolId]="homeSchoolId" [showModal]="showModal" (getModalStatusEvent)="changeStatus()"></app-message>
