<div class="mt-0 mb-0">
  <div class="columns mb-0">
    <div class="column is-four-fifths">
      <h5 class="subtitle is-6 mt-2">Children:</h5>
    </div>
    <div class="column">
      <button class="button is-black is-small is-outlined is-success" (click)="addChild()">Add Child</button>
    </div>
  </div>

  <div class="columns" *ngFor="let child of homeschool?.children">
    <div class="column is-one-quarter">
      <label for="yearOfBirth" class="content is-small">Year Of Birth</label>
    </div>
    <div class="column is-one-quarter">
      <div class="field">
        <div class="control">
          <input class="input is-small" id="yearOfBirth" type="number" name="yearOfBirth" ng-maxlength="4" [(ngModel)]="child.yearOfBirth" placeholder="year of birth">
        </div>
      </div>
    </div>
      <div class="column">
        <label class="content is-small">Gender</label>
      </div>
      <div class="column">
        <div class="select is-small">
          <select [(ngModel)]="child.gender" id="gender" name="gender">
            <option value="0">boy</option>
            <option value="1">girl</option>
          </select>
        </div>
      </div>
    <div class="column is-one-quarter">
      <button class="delete is-danger mt-1 ml-5" (click)="removeChild(child.id)"></button>
    </div>
  </div>
</div>
